main {
    width: fit-content;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    padding-bottom: 50px;
}

.form-task-input {
    display: flex;
    gap: 52px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.seperator {
    background-color: var(--colorGrey);
    width: 2px;
    height: 400px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

label {
    font-size: 20px;
    padding-bottom: 4px;
    color: var(--colorTextGrey);
}

.add-task-input-container {
    display: flex;
    flex-direction: column;
}

.add-task-input {
    width: 400px;
    height: 48px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid var(--colorGrey);
    padding-left: 16px;
}

textarea {
    height: 120px !important;
    padding: 16px;
}

.priority-btn-container {
    display: flex;
    gap: 16px;
}

.priority-btn {
    height: 55px;
    background-color: var(--colorWhite);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    border: 0;
    width: 122px;
    font-size: 19px;
}
.priority-btn:hover {
    cursor: pointer;
}

.priority-btn-icon {
    height: 13px;
    width: 20px;
}

.btn-active {
    background-color: var(--priorityMediumYellow);
    color: var(--colorWhite);
}

.btn-active.priority-urgent {
    background-color: var(--priorityUrgentRed);
}

.btn-active.priority-medium {
    background-color: var(--priorityMediumYellow);
}

.btn-active.priority-low {
    background-color: var(--priorityLowGreen);
}

.btn-active.priority-low .priority-btn-icon {
    transform: rotate(180deg);
}

.add-task-btn-container {
    display: flex;
    justify-content: end;
    gap: 24px;
}

.add-task-btn {
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}
.add-task-btn:hover {
    cursor: pointer;
}

.clear-task-btn {
    border: 1px solid var(--colorPrimaryDark);
    padding-left: 16px;
}

.create-task-btn {
    width: 161px;
    color: var(--colorWhite);
    background-color: var(--colorPrimary);
    border: 0;
    display: flex;
    justify-content: center;
}

@media (max-width:1260px) {
    .add-task-input {
        width: 300px;
    }

    .priority-btn-container {
        gap: 8px;
    }

    .priority-btn {
        width: 96px;
        font-size: 18px;
    }

    .priority-btn-icon {
        height: 10px;
        width: 16px;
    }

    .form-task-input {
        gap: 26px;
    }
}

@media (max-width:940px) {
    h1 {
        width: 450px;
        padding-top: 48px;
    }

    .form-task-input {
        flex-direction: column;
        gap: 40px;
    }

    .seperator {
        display: none;
    }

    section {
        gap: 40px;
    }

    main {
        margin: 0;
        max-width: none;
        align-items: normal;
        width: auto;
        padding: 0 24px;
        align-items: center;
    }

    form {
        gap: 15px;
        width: 450px;
        margin-bottom: 16px;
    }

    .add-task-input {
        width: 100%;
    }

    .priority-btn-container {
        gap: 0;
        justify-content: space-between;
        width: 100%;
    }

    .priority-btn {
        width: 135px;
    }

    .add-task-btn-container {
        width: 100%;
    }
}

@media (max-width: 520px) {
    h1 {
        width: 350px;
        font-size: 50px;
    }

    form {
        width: 350px;
    }

    .priority-btn {
        width: 96px;
    }

    .add-task-btn-container {
        justify-content: space-between;
    }
}

@media (max-width: 414px) {
    h1 {
        width: 275px;
        font-size: 40px;
    }

    form {
        width: 275px;
    }

    .priority-btn {
        padding: 0;
        font-size: 16px;
        font-weight: 600;
        height: 45px;
        width: 86px;
    }

    .priority-btn-icon  {
        width: 14px;
    }
}