:root {
  --colorPrimary: #2A3647;
  --colorPrimaryDark: #091931;
  --colorPrimaryLight: #2A3D59;
  --colorWhite: #FFFFFF;
  --colorGreyLight: #CDCDCD;
  --colorGrey: #A8A8A8;
  --colorBgPage: #F6F7F8;
}
