:root {
  --colorPrimary: #2A3647;
  --colorPrimaryDark: #091931;
  --colorPrimaryLight: #2A3D59;
  --colorPrimaryGreyTone: #124658;
  --colorWhite: #FFFFFF;
  --colorBlack: #000000;
  --colorGreyLight: #CDCDCD;
  --colorGrey: #A8A8A8;
  --colorBlue: #29ABE2;
  --colorBgPage: #F6F7F8;
  --colorBgHover: #E3E6EB;
  --colorAccent: #29ABE2;
  --colorTextGrey: #686868;
  --colorColumnTitle: #42526E;
  --colorPlaceholderBg: #E7E7E7;
  --colorUserStory: #0038FF;
  --colorTechnicalTask: #1FD7C1;
  --colorProgress: #4589FF;
  --colorProgressTrack: #F4F4F4;
  --colorAvatarOrange: #FF7A00;
  --colorAvatarTurquoise: #1FD7C1;
  --colorAvatarPurple: #462F8A;
}
