/* Dialog Styles */

.dialog {
    background-color: rgba(0, 0, 0, 0.526);
    min-height: 100%;
    min-width: 100%;
}

.dialog-container {
    background-color: white;
    height: 592px;
    width: 1212px;
    position: fixed;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}

/* Dialog Left Aside Styles */

.dialog-left-aside {
    background-color: var(--colorPrimary);
    height: 592px;
    width: 453px;
    border-radius: 30px 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.dialog-left-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 0px 40px 0px 40px;
    gap: 40px;
}

.dialog-responsive-close-button {
    display: none;
}

.dialog-responsive-close-button button {
    background-color: transparent;
    height: 32px;
    width: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-responsive-close-button button:hover {
    background-color: rgba(44, 44, 44, 0.1);
    border-radius: 50%;
}

.contact-logo {
    width: 54px;
}

.contact-option-content {
    width: 361px;
    display: flex;
    flex-direction: column;
}

.contact-option-content p {
    padding-top: 10px;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.contact-option-title {
    height: 73px;
    font-size: 61px;
    font-weight: 700;
}

.underline {
    height: 3px;
    width: 90px;
    background-color: var(--colorAccent);
    margin-top: 10px;
}

/* Dialog Right Content Styles */

.dialog-right-content {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0px 0px 50px 80px;
    gap: 70px;
}

.dialog-right-title {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    border: solid 2px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-right-title h2 {
    background-color: red;
    color: white;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    font-size: 47px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-right-body {
    height: 100%;
    padding: 60px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialog-right-close-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.dialog-right-close-button button {
    background-color: transparent;
    height: 32px;
    width: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog-right-close-button button:hover {
    background-color: rgba(44, 44, 44, 0.1);
    border-radius: 50%;
}

.dialog-right-inputs {
    width: 422px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dialog-right-inputs input {
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    font-size: 16px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    border: solid 1px var(--colorPrimaryGreyTone);
}

.dialog-input {
    padding-left: 20px !important;
}

.input-name-wrapper,
.input-email-wrapper,
.input-phone-wrapper {
    height: 50px;
    position: relative;
}

.input-icons {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.dialog-action-buttons {
    display: flex;
    gap: 20px;
    height: 55px;
}

.positive-button {
    height: 100%;
    width: 100px;
    border-radius: 10px;
    border: solid 1px var(--colorPrimaryGreyTone);
    background-color: var(--colorPrimary);
    color: white;
    font-size: 21px;
    font-weight: 700;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 60px;
}

.positive-button:hover {
    background-color: var(--colorPrimaryLight);
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.23));
    cursor: pointer;
    transition: background-color 0.3s, filter 0.3s;
}

.negative-button {
    height: 100%;
    width: 100px;
    border-radius: 10px;
    border: solid 1px var(--colorPrimaryGreyTone);
    background-color: transparent;
    color: #333;
    font-size: 21px;
    font-weight: 400;
}

.negative-button:hover {
    filter: drop-shadow(0 2px 1px rgba(0, 0, 0, 0.23));
    cursor: pointer;
    transition: background-color 0.3s, filter 0.3s;
}

/* Responsive Styles */

@media (max-width: 1240px) {
    .dialog-container {
        width: 1000px;
    }

    .dialog-right-content {
        padding: 0px 20px;
    }

    .dialog-right-inputs {
        width: 280px;
    }
}

@media (max-width: 768px) {
    /* Dialog Elements */

    .dialog-container {
        height: 760px;
        width: 320px;
        display: flex;
        flex-direction: column;
    }

    .dialog-left-aside {
        height: 351px;
        width: 100%;
        border-radius: 30px 30px 0 0;
        align-items: center;
        justify-content: flex-end;
    }

    .dialog-left-content {
        height: 351px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contact-logo {
        display: none;
    }

    .contact-option-content {
        width: 100%;
        /* padding-bottom: 30px; */
        padding: 0px;
        gap: 0px;
    }

    .contact-option-content h2 {
        display: flex;
        align-items: flex-end;
    }

    .contact-option-title {
        font-size: 47px;
        font-weight: 700;
    }

    .contact-option-content p {
        font-size: 20px;
    }

    .dialog-responsive-close-button {
        height: 50px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 30px;
    }

    .dialog-responsive-close-button:hover {
        cursor: pointer;
    }

    /* Dialog Right to Bottom */

    .dialog-right-close-button {
        display: none;
    }

    .dialog-right-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        gap: 0px;
        transform: translateY(-65px);
    }

    .dialog-right-title {
        background-color: white;
        height: 130px;
        width: 130px;
        display: flex;
        align-items: center;
        border: solid 2px #ccc;
    }

    .dialog-right-body {
        width: 100%;
        gap: 20px;
        padding: 30px 10px 0 10px;
    }

    .dialog-right-inputs {
        height: 171px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .input-name-wrapper,
    .input-email-wrapper,
    .input-phone-wrapper {
        height: 41px;
        max-width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dialog-input {
        /* max-width: 290px; */
    }

    .dialog-action-buttons {
        height: 51px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}