.sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 232px;
  height: 100vh;
  padding: 64px 0;
  background-color: var(--colorPrimary);
}

.sidebarLogo {
  display: flex;
  align-self: center;
}

.sidebarLogoImg {
  width: 100px;
  height: 122px;
}

.navMain {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 112px;
}

.navLink {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 46px;
  padding-left: 56px;
  color: var(--colorGreyLight);
  text-decoration: none;
}

.navLink:hover {
  background-color: var(--colorPrimaryLight);
}

.navLinkActive,
.navLinkActive:hover {
  background-color: var(--colorPrimaryDark);
  color: var(--colorWhite);
}

.navIcon {
  width: 26px;
  height: 26px;
}

.navLegal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: auto;
  padding-left: 56px;
}

.legalLink {
  color: var(--colorGrey);
  text-decoration: none;
}

.legalLink:hover {
  color: var(--colorWhite);
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
    padding: 0 16px;
  }

  .sidebarLogo,
  .navLegal {
    display: none;
  }

  .navMain {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-top: 0;
  }

  .navLink {
    flex-direction: column;
    justify-content: center;
    flex: 1;
    gap: 4px;
    max-width: 80px;
    height: 76px;
    padding: 0;
    border-radius: 16px;
    font-size: 14px;
  }
}
